/*========== Variables ============*/ /*============Sticky Footer============*/
html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#wrap {
  flex: 1 0 0;
  -ms-flex: 1 0 0;
  position: relative;
  right: 0;
  transition: right 0.5s;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
}

.alignright,
img.alignright {
  float: right;
  margin: 0 0 15px 30px;
}

img.alignleft,
.alignleft {
  float: left;
  margin: 0 30px 15px 0;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

* {
  outline: none !important;
}

/*==========Fonts & Headings===========*/
body {
  font-family: "crique_groteskregular", sans-serif;
  color: #414042;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 150%;
}

h1 {
  font-size: 40px;
  font-size: 4rem;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 140%;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 140%;
  margin: 0 0 20px 0;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: "crique_groteskbold", sans-serif;
}

h4 {
  font-size: 22px;
  font-size: 2.2rem;
  margin: 0 0 20px 0;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0 17px 0;
  letter-spacing: 1px;
}

p {
  margin: 0 0 20px 0;
}

ol, ul {
  margin: 0 0 20px 0;
}

strong {
  font-weight: bold;
}

a {
  color: #414042;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.margin-top {
  margin-top: 9rem;
}
@media (max-width: 575px) {
  .margin-top {
    margin-top: 9rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin-top {
    margin-top: 9rem;
  }
}

.margin-bottom {
  margin-bottom: 9rem;
}
@media (max-width: 575px) {
  .margin-bottom {
    margin-bottom: 9rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin-bottom {
    margin-bottom: 9rem;
  }
}

.margin {
  margin: 9rem 0;
}
@media (max-width: 575px) {
  .margin {
    margin: 9rem 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .margin {
    margin: 9rem 0;
  }
}

.padding-top {
  padding-top: 9rem;
}
@media (max-width: 575px) {
  .padding-top {
    padding-top: 9rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding-top {
    padding-top: 9rem;
  }
}

.padding-bottom {
  padding-bottom: 9rem;
}
@media (max-width: 575px) {
  .padding-bottom {
    padding-bottom: 9rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding-bottom {
    padding-bottom: 9rem;
  }
}

.padding {
  padding: 9rem 0;
}
@media (max-width: 575px) {
  .padding {
    padding: 9rem 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .padding {
    padding: 9rem 0;
  }
}

/* Header
==============================*/
#header {
  background: linear-gradient(179deg, rgba(65, 64, 66, 0.7413340336) 100%, rgb(65, 64, 66) 100%, rgb(65, 64, 66) 100%);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
}
@media (min-width: 991px) {
  #header {
    padding: 25px 30px 25px;
  }
}
#header h2 {
  margin-bottom: 0;
}
#header a {
  color: #FFFFFF;
}
#header a:hover {
  text-decoration: none;
  color: #5B93BF;
}
#header .header-logo {
  display: flex;
  justify-content: space-between;
}
#header .header-logo img {
  width: 9px;
  padding-left: 2px;
  padding-top: 19px;
  display: inline-block;
}
#header i {
  font-size: 2.5px;
  font-size: 2rem;
  padding: 10px;
}

/* Nav
==============================*/
nav.main-menu ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: space-between;
}
nav.main-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}
nav.main-menu ul li i {
  font-size: 2rem;
}
nav.main-menu ul .sub-menu-wrap {
  display: none;
  position: absolute;
  white-space: nowrap;
  top: 100%;
  left: 0;
  z-index: 99999;
  text-align: left;
  overflow: hidden;
  padding: 0;
}

/* Mobile Nav
==============================*/
#mobileNav {
  background-color: #414042;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: -50%;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
#mobileNav.menuOpen {
  right: 0;
}
#mobileNav #header {
  display: none;
}
#mobileNav a {
  color: #F9F9F9;
}
#mobileNav a:hover {
  text-decoration: none;
  color: #5B93BF;
}

#wrap.menuOpenWrap {
  right: 50%;
  pointer-events: none;
}

footer.menuOpenWrap {
  right: 50% !important;
  position: relative;
  pointer-events: none;
}

.mobileNav-overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  z-index: -1;
}
.mobileNav-overlay.menuOpen {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  #mobileNav {
    width: 100%;
    right: -100%;
  }
  #wrap.menuOpenWrap {
    right: 100%;
  }
  footer.menuOpenWrap {
    right: 100%;
  }
}
.mobileNav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7.5px;
}
.mobileNav-header .mobile-logo {
  display: flex;
  justify-content: space-between;
}
.mobileNav-header .mobile-logo img {
  width: 9px;
  padding-left: 2px;
  display: inline-block;
}
.mobileNav-header i {
  font-size: 2.5rem;
  font-size: 25px;
  padding: 10px;
}

.mobile-main-menu #menu-main-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-main-menu #menu-main-menu li {
  margin-bottom: 20px;
}
.mobile-main-menu #menu-main-menu li a:hover {
  text-decoration: none;
}

/* Woocommerce Checkout/Cart
==============================*/
.woocommerce-cart .woocommerce {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woocommerce-cart .woocommerce .woocommerce-notices-wrapper {
  width: 100%;
}
.woocommerce-cart .woocommerce .woocommerce-cart-form {
  width: 60%;
}
.woocommerce-cart .woocommerce .cart-collaterals {
  width: 39%;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals {
  width: 100%;
  float: none;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals h2 {
  display: none;
}
.woocommerce-cart .woocommerce table {
  border-radius: 0;
}

@media (max-width: 991px) {
  .woocommerce-cart .woocommerce .woocommerce-cart-form {
    width: 100%;
  }
  .woocommerce-cart .woocommerce .cart-collaterals {
    width: 100%;
  }
}
.woocommerce-checkout #customer_details {
  padding-bottom: 60px;
}
.woocommerce-checkout .col-1, .woocommerce-checkout .col-2 {
  max-width: 100% !important;
  padding: 0;
}
.woocommerce-checkout .form-row {
  display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 100% !important;
  padding: 0;
}

/* Woocommerce Colours
==============================*/
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #414042;
}

.woocommerce-error {
  border-color: #333333;
}

.woocommerce-error::before {
  color: #333333;
}

.woocommerce-message, .woocommerce-info {
  border-color: #414042;
}

.woocommerce-message::before, .woocommerce-info::before {
  color: #414042;
}

.checkout-button, #place_order, .single_add_to_cart_button {
  background-color: #414042 !important;
}
.checkout-button:hover, #place_order:hover, .single_add_to_cart_button:hover {
  background-color: #333333 !important;
}

#footer {
  position: relative;
  right: 0;
  transition: right 0.5s;
  background-color: #333333;
  color: #F9F9F9;
  padding: 35px 15px;
}
@media (min-width: 991px) {
  #footer {
    padding: 75px 70px 20px 70px;
  }
}
#footer a {
  color: #F9F9F9;
}
#footer .footer-logo {
  display: flex;
  justify-content: flex-start;
}
#footer .footer-logo h2 {
  font-size: 65px;
  font-size: 6.5rem;
  line-height: 140%;
  margin: 0 0 20px 0;
}
@media (max-width: 575px) {
  #footer .footer-logo h2 {
    font-size: 55px;
    font-size: 5.5rem;
  }
}
#footer .footer-logo img {
  width: 13px;
  padding-left: 2px;
  padding-top: 12px;
  display: inline-block;
}
#footer #footer-body {
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  #footer #footer-body {
    padding-bottom: 25px;
  }
}
#footer #footer-body #menu-main-menu-2, #footer #footer-body .social-media, #footer #footer-body #contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#footer #footer-body #menu-main-menu-2 li, #footer #footer-body .social-media li, #footer #footer-body #contacts li {
  margin-bottom: 15px;
}
#footer #footer-body #menu-main-menu-2 li a, #footer #footer-body .social-media li a, #footer #footer-body #contacts li a {
  font-weight: 400;
}
@media (max-width: 991px) {
  #footer #footer-body #menu-main-menu-2 {
    margin-bottom: 15px;
  }
}
#footer #footer-body #contacts {
  max-width: 240px;
}
#footer #footer-body #contacts p {
  margin-bottom: 15px;
}
#footer #footer-body a.button {
  display: inline-block;
  margin-bottom: 16px;
}
#footer #footer-terms {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #414042;
}
#footer #footer-terms p {
  margin: 0;
}
#footer #footer-terms p .sep {
  position: relative;
  top: -0.5px;
  display: inline-block;
  padding: 0 5px 0 8px;
}
#footer #footer-terms p a {
  color: #414042;
  text-decoration: none;
}
#footer #footer-terms p a:hover {
  color: #333333;
  text-decoration: none;
}
#footer #footer-terms .right {
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#footer #footer-terms .right p {
  margin-bottom: 0;
}
#footer #footer-terms .left a {
  display: block;
}
#footer #footer-terms .site-by {
  display: block;
  color: #F9F9F9;
  text-decoration: none;
}
#footer #footer-terms .site-by:hover {
  color: #5B93BF;
  text-decoration: none;
}

#banner {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#banner .bg-image {
  height: 708px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  #banner .bg-image {
    height: 350px;
  }
}
#banner .column-class {
  padding-left: 0;
  padding-right: 0;
}

#centered_logo_text {
  margin: 200px 0;
}
@media (max-width: 991px) {
  #centered_logo_text {
    margin: 40px 0;
    padding: 7.5px;
  }
}

#videos_area {
  padding-top: 160px;
  background-color: #414042;
  color: #FFFFFF;
}
#videos_area h2 {
  text-transform: uppercase;
}
@media (min-width: 991px) {
  #videos_area #video_1 {
    position: relative;
    z-index: 100;
    left: -50px;
    top: 56px;
  }
}
#videos_area .text-logo {
  display: flex;
  align-items: baseline;
  padding-top: 63px;
}
#videos_area .text-logo img {
  width: 25px;
  margin-right: 20px;
  margin-left: 30px;
}
#videos_area .block-2 {
  padding-top: 124px;
  padding-bottom: 200px;
}
#videos_area #video_2 {
  width: 632px;
  height: 355px;
}
#videos_area .text-logo-2 {
  display: flex;
  align-items: baseline;
  padding: 0 20px;
}
#videos_area .text-logo-2 img {
  width: 25px;
  margin-right: 20px;
  margin-left: 30px;
}
#videos_area #video_3 {
  width: 584px;
  height: 320px;
  position: relative;
  top: -20px;
}
#videos_area #video_4 {
  width: 556px;
  height: 312px;
  position: relative;
  z-index: 100;
  left: -138px;
  top: 72px;
}
#videos_area .text-logo-4, #videos_area .text-logo-5 {
  display: flex;
  align-items: baseline;
  padding-top: 106px;
}
#videos_area .text-logo-4 img, #videos_area .text-logo-5 img {
  width: 25px;
  margin-right: 20px;
}
#videos_area .text-logo-4 p, #videos_area .text-logo-5 p {
  max-width: 300px;
}
#videos_area .text-logo-5 {
  padding-top: 54px;
  padding-left: 70px;
}
#videos_area .block-3 {
  padding-bottom: 75px;
}
#videos_area #video_5 {
  width: 642px;
  height: 360px;
  position: relative;
  z-index: 100;
  right: -55px;
}
#videos_area .text-logo-5 {
  position: relative;
  z-index: 100;
  right: -56px;
}
#videos_area .img-5 {
  position: relative;
  top: 50px;
}
#videos_area .block-4 {
  padding-bottom: 208px;
}

#text_button {
  margin: 177px 0;
}
@media (max-width: 991px) {
  #text_button {
    margin: 40px 0;
    padding: 7.5px;
  }
}
#text_button .images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#text_button .images .img1 {
  width: 25px;
}
@media (max-width: 575px) {
  #text_button .images .img1 {
    width: 18px;
  }
}
#text_button .images .img2 {
  width: 50px;
  margin-left: 59px;
}
@media (max-width: 575px) {
  #text_button .images .img2 {
    margin-left: 40px;
    width: 35px;
  }
}
@media (min-width: 991px) {
  #text_button .images .img2 {
    width: 60px;
  }
}
#text_button .texts {
  padding-top: 40px;
  padding-left: 85px;
  color: #333333;
}
@media (min-width: 991px) {
  #text_button .texts {
    padding-left: 59px;
  }
}
@media (max-width: 575px) {
  #text_button .texts {
    padding-left: 64px;
  }
}
#text_button .texts a {
  padding: 12px 42px;
  background-color: #5B93BF;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 10px;
}
#text_button .texts a:hover {
  color: #414042;
}/*# sourceMappingURL=main.css.map */