/*========== Variables ============*/

$primary: #414042;
$secondary: #333333;
$tertiary: #5B93BF;
$buttongrey: #4F4F4F;

$body:#414042;
$bodywhite: #FFFFFF;
$lightgrey: #F9F9F9;

$bodyfont:'crique_groteskregular', sans-serif;
$headingfont:'crique_groteskbold', sans-serif;
$menufont:'Poppins', sans-serif;

$xs: "(max-width: 575px)";
$sm: "(min-width: 576px) and (max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and (max-width: 1199px)";
$xl: "(min-width: 992px) and (max-width: 1199px)";
$xxl: "(min-width: 1400px)";

