/* Mobile Nav
==============================*/


#mobileNav {
  background-color: #fff;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index:1000;
  top: 0;
  right:-50%;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  transition: all 0.5s ease;
  &.menuOpen{
    right:0;
  }
}

#wrap{
  &.menuOpenWrap{
    right:50%;
    pointer-events: none;
  }
}

footer{
  &.menuOpenWrap{
    right:50%!important;
    position: relative;
    pointer-events: none;
  }
}

.mobileNav-overlay{
  width:100%;
  height:100%;
  left:0;
  top:0;
  position: absolute;
  background-color: transparent;
  z-index:-1;
  &.menuOpen{
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@include mobile {

  #mobileNav {
      width: 100%;
      right:-100%;
  }

  #wrap{
    &.menuOpenWrap{
    right:100%;
    }
  }

  footer{
    &.menuOpenWrap{
    right:100%;
    }
  }

}
.mobileNav-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 7.5px;
  .mobile-logo{
    display: flex;
    justify-content: space-between;
    img{
      width:9px;
      padding-left: 2px;
      display: inline-block;
    }
  }
}
.mobile-main-menu #menu-main-menu{
  list-style-type: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  li{
    margin-bottom: 20px;
    a:hover{
      text-decoration: underline;
    }
  }
}