#videos_area{
    background-color: $primary;
    color: $bodywhite;
    .first-row{
        padding-top: 40px;
        @include lg{
            padding-top: 70px;
        }
        @include xl{
            padding-top: 120px;
        }
        @include xxl{
            padding-top: 105px;
        }
        #video_1{
            @include xs{
                text-align: center;
                width: 100%;
                height: auto;
            }
        }
    }
    .row{
        position: relative;
        lottie-player{
            position: absolute;
            &#firstLottie{
                width: 57%;
                height: 127%;
                position: absolute;
                top: -124px;
                right: 0;
                width: 53%;
            }
            &#firstLottie{             
                @include md{
                    top: -130px;
                    right: -45px;
                    width: 66%;
                    z-index:1;
                }
                @include lg{
                    top: -90px;
                    width: 71%;
                    height: 127%;
                    right: -42px;
                }
                @include xl{
                    top: -76px;
                    width: 72%;  
                    height:127%;
                }
                @include xxl{
                    top: -55px;
                    width: 67%;  
                }
            }
        }
    }
    h2{
        text-transform: uppercase;
    }
    #video_1{
        position: relative;
        z-index: 101;
        @include desktop{
            left: -33px;
            top: 56px;
        }
    }
    .text-logo{        
        display: flex;
        align-items: baseline;
        padding-top: 40px;
        @include xs{
            padding-top: 20px;
        }
        @include desktop{
            padding-top: 62px;
        }
        p{
            font-size: 14px;
        }
        img{
            width: 25px;
            margin-right: 20px;
            margin-left: 15px;
            @include xs{
                width: 22px;
                margin-right: 12px;
                margin-left: 6px;
            }
        }
    }
    .block-2{
        padding-top:124px;
        padding-bottom: 200px;
    }
    #video_2{
        width: 632px;
        height: 355px;
    }
    .text-logo-2{
        display: flex;
        align-items: baseline;
        padding: 0 20px;
        img{
            width: 25px;
            margin-right: 20px;
            margin-left:30px;
        }
    }
    #video_3{
        width: 584px;
        height: 320px;
        position:relative;
        top: -20px;
    }
    #video_4{
        width: 556px;
        height: 312px;
        position:relative;
        z-index:100;
        left:-138px;
        top:72px;

    }
    .text-logo-4, .text-logo-5{
        display: flex;
        align-items: baseline;
        padding-top: 106px;
        img{
            width: 25px;
            margin-right: 20px;
        }
        p{
            max-width: 300px;
        }
    }
    .text-logo-5{
        padding-top:54px;
        padding-left:70px;
    }
    .block-3{
        padding-bottom: 75px;
    }
    #video_5{
        width: 642px;
        height: 360px;
        position:relative;
        z-index:100;
        right:-55px;
    }
    .text-logo-5{
        position: relative;
        z-index: 100;
        right: -56px;
    }
    .img-5{
        position:relative;
        top: 50px;
    }
    .block-4{
        padding-bottom: 208px;
    }
}