#videos_area{
    background-color: $primary;
    color: $bodywhite;
    .first-row{
        padding-top: 40px;
        @include lg{
            padding-top: 70px;
        }
        @include xl{
            padding-top: 120px;
        }
        @include xxl{
            padding-top: 160px;
        }
        #video_1{
            @include xs{
                text-align: center;
                width: 100%;
                height: auto;
            }
        }
    }
    .row{
        position: relative;
        lottie-player{
            position: absolute;
            &#firstLottie{
                width: 57%;
                height: 127%;
                position: absolute;
                top: -124px;
                right: 0;
                width: 53%;
            }
            &#firstLottie{             
                @include lg{
                    top: -54px;
                    width: 91%;
                    height: 131%;
                    right: -150px;
                }
                @include xl{
                    top: -64px;
                    width: 95%;
                    height: 141%;
                    right: -124px;
                }
                @include xxl{
                    top: -97px;
                    width: 79%;
                    height: 151%;
                }
            }
        }
    }
    h2{
        text-transform: uppercase;
    }
    #video_1{
        position: relative;
        z-index: 101;
        @include desktop{
            left: -33px;
            top: 56px;
        }
        @include mobile{
            width: 100%;
            height: auto;
        }
    }
    .text-logo{        
        display: flex;
        align-items: baseline;
        @include mobile{
            padding-top: 20px;
        }
        @include desktop{
            padding-top: 62px;
        }
        p{
            font-size: 14px;
            @include desktop{
                font-size: 16px;
                font-size: 1.6rem;
            }
        }
        img{
            width: 25px;
            margin-right: 20px;
            margin-left: 15px;
            @include xs{
                width: 22px;
                margin-right: 12px;
                margin-left: 6px;
            }
        }
    }
    .block-2{
        padding-top:113px;
        padding-bottom: 30px;
        @include mobile{
            padding-top: 50px;
            padding-bottom: 0px;
        }
        #secondLottie{
            @include lg{
                width: 98%;
                height: 131%;
                top: -102px;
                left: -234px;
            }
            @include xl{
                width: 98%;
                height: 127%;
                top: -90px;
                left: -275px;
            }
            @include xxl{
                width: 98%;
                height: 131%;
                top: -90px;
                left: -287px;
            }

        }
    }
    @include mobile{
        padding-top: 50px;
    }
    #video_2{
        width: 632px;
        height: 355px;
        position:relative;
        z-index:100;
        @include mobile{
            width: 100%;
            height: auto;
        }
    }
    .text-logo-2{
        display: flex;
        align-items: baseline;
        @include desktop{
            padding: 0 20px;
        }

        p{
            font-size: 14px;
            @include desktop{
                font-size: 16px;
                font-size: 1.6rem;
            }
        }
        @include mobile{
            padding-top: 20px;
        }
        img{
            width: 25px;
            margin-right: 20px;
            margin-left:30px;
            @include mobile{
                width: 22px;
                margin-right: 12px;
                margin-left: 6px;
            }
        }
    }

    #video_3{
        position:relative;
        top: -20px;
        @include xl{
            width: 539px;
            height: auto;
        }
        @include xxl{
            width: 584px;
            height: auto;
        }
    }

    .block-3{
        @include mobile {
            padding-top: 50px;          
        }
        #video_4{
            @include mobile{
                width:100%;
                height: auto;
            }
            @include desktop{
                width: 556px;
                height: 312px;
                position:relative;
                z-index:100;
                left:-138px;
                top:72px;
            }
        }
    }

    .text-logo-4, .text-logo-5{
        display: flex;
        align-items: baseline;
        padding-top: 106px;
        @include mobile{
            padding-top: 20px;
        }
        img{
            width: 25px;
            margin-right: 20px;
            @include mobile{
                width: 22px;
                margin-right: 12px;
                margin-left: 6px;
            }
        }
        p{
            @include desktop{
                max-width: 300px;
            }

        }
    }

    .block-4{
        @include mobile{
            padding:50px 0;
        }
        .text-logo-5{
            @include desktop{
                padding-top:54px;
                padding-left:70px;
            }
            @include lg{
                padding-top: 19px;
                padding-left: 53px;
            }
        }
    }


    .block-2_2{
        @include lg{
            padding-bottom: 96px;
        }
        @include xl{
            padding-bottom: 143px;
        }
        @include xxl{
            padding-bottom: 163px;
        }

        #thirdLottie{
            @include lg{
                top: -17px;
                right: -85px;
                width: 100%;
                height: 120%;
            }
            @include xl{
                top: -17px;
                right: -100px;
                width: 100%;
                height: 118%;
            }
            @include xxl{
                top: -17px;
                right: -80px;
                width: 100%;
                height: 118%;
            }
        }

    }
    #video_5{
        @include mobile{
            width: 100%;
            height: auto;
        }
        @include lg{
            width: 471px;
            height: auto;
            position: relative;
            z-index: 100;
            right: -55px;
        }
        @include desktop{
            width: 642px;
            height:auto;
            position:relative;
            z-index:100;
            right:20px;
        }
        @include xxl{
            right: -55px;
        }
    }
    .text-logo-5{
        @include desktop{
            position: relative;
            z-index: 100;
            right: -56px;
        }
    }
    .img-5{
        position:relative;
        top: 50px;
    }
    .block-4{
        @include desktop{
            padding-bottom: 208px;
            padding-top:75px;
        }
        @include lg{
            padding-bottom: 81px;
            padding-top: 32px;
        }
        #forthLottie{
            @include lg{
                left: -83px;
                height: 133%;
                top: -281px;
                width: 91%;
                height: 163%;
            }
            @include xl{
                left: -125px;
                height: 120%;
                top: -177px;
            }
            @include xxl{
                left: -208px;
                height: 117%;
                top: -149px;
            }
        }
    }
}